!.gitignore
*.a
*.app
*.dll
*.dylib
*.exe
*.la
*.lib
*.lo
*.o
*.orig
*.out
*.so
*.so.*
*~
*~
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
._*
/aclocal.m4
/autom4te.cache
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
Icon
Makefile
Makefile.in
autoscan.log
bin/geoipupdate
config.guess
config.log
config.status
config.sub
configure.scan
debian/geoipupdate*
libtool
ltmain.sh
man/GeoIP.conf.5
man/geoipupdate.1
