
*.o

*.lib
*.a

*.dll
*.so
*.so.*
*.dylib

*.exe
*.out
*.app


Makefile.in


/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1

.DS_Store
.AppleDouble
.LSOverride
Icon


._*

.Spotlight-V100
.Trashes

.*
!.gitignore
*~
