Source: geoipupdate
Section: net
Priority: optional
Maintainer: William Storey <wstorey@maxmind.com>
Build-Depends: debhelper (>= 11),
               dh-golang,
               golang-any,
               golang-github-pkg-errors-dev,
               golang-github-spf13-pflag-dev,
               golang-github-stretchr-testify-dev
Standards-Version: 4.2.1
Homepage: https://github.com/maxmind/geoipupdate
Vcs-Browser: https://github.com/maxmind/geoipupdate
Vcs-Git: https://github.com/maxmind/geoipupdate.git

Package: geoipupdate
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Tool for updating GeoIP and GeoLite databases
 The GeoIP Update program performs automatic updates of GeoIP2 and GeoIP
 Legacy binary databases.
