#!/usr/bin/make -f

# eoan builds failed with:
# failed to initialize build cache at /sbuild-nonexistent/.cache/go-build:
# mkdir /sbuild-nonexistent: permission denied
export GOCACHE := $(CURDIR)/.go-cache

# We vendor our dependencies
export GOFLAGS := -mod=vendor

# We don't use DH_GOLANG_INSTALL_EXTRA as Xenial doesn't support it.
export DH_GOLANG_INSTALL_ALL := 1

# Workaround for Bionic
export PATH := $(PATH):/usr/lib/go-1.13/bin/

override_dh_auto_build:
	make CONFFILE=/etc/GeoIP.conf DATADIR=/usr/share/GeoIP data
	@# Hack! Rather than use dh_auto_build's build step that would come
	@# from dh_golang, we do something similar in order to pass ldflags.
	debian/deb-build.pl

override_dh_auto_install:
	dh_auto_install -- --no-source

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG.md
