name: Check Untagged Dependencies

on:
  push:
  pull_request:
  schedule:
    - cron: '0 14 * * *'
  workflow_dispatch:

permissions: {}

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: horgh/check-untagged-go-deps@b2bec8a7a0c8da55e64b092013f7bf5dff1006ca # v1.0.1
