name: golangci-lint

on:
  push:
  pull_request:
  schedule:
    - cron: '5 5 * * SUN'

permissions: {}

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # 9.0.0
        with:
          version: latest
