name: golangci-lint

on:
  push:
  pull_request:
  schedule:
    - cron: '5 5 * * SUN'

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v1
        with:
          version: v1.31
